body {
    font-family: Arial;
    background: #f5f5f5
}

.container {
    width: 600px;
    margin: auto
}

.card {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px
}

button {
    background: #1976d2;
    color: #fff;
    border: none;
    padding: 5px
}